@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "";
  font-size: medium;
  list-style-type: none;
  font-family: "Inter";
  color: black;
  text-decoration: none;
}

body{
  display: flex;
  width: 100%;
  height: 100%;
}

/*ASIDE*/
aside{
  display: block;
  width: 280px;
  height: 100%;
  background-color: #EBF7F7;
}

.aside-logo{
  display: flex;
  width: fill;
  height: max-content;
  text-align: center;
  margin-bottom: 20%;
}

.aside-image-logo{
  width: 36px;
  margin:20px 14px 0px 20px;
}

.aside-text-logo{
  width: 100%;
  align-content: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  color: #162C39;
}
/*ASIDE*/

/*ASIDE OPTIONS*/
.options{
  display: block;
  width: 100%;
  height: fit-content;
}

ul{
  display: block;
  width: fit-content;
  height: 100vh;
}

.aside-item{
  display: flex;
  width: 200px;
  margin: 0px 0px 30px 0px;
}

a{
  display: flex;
}

.aside-item-image{
  display: inline;
  width: 30px;
  margin: 0px 0px 0px 28px;
  height: 30px;
  color: #162c39; 
}

.aside-item-text{
  display: block;
  width: 30px;
  align-content: center;
  margin: 0px 0px 0px 18px;
  font-weight: 700;
  font-size: 14px;
}
/*ASIDE OPTIONS*/

/*INICIO USUARIO*/
.user{
  display: flex;
  width: 100%;
  height: 12%;
  justify-content: right;
  background-color: none;
  align-items: center;
}

.user > a{

}

#user-text{
  background-color: none;
}

.user-icon{
}

.user-icon-image{
  width: 80px;
  margin: 10px;
}
/*FIM USUARIO*/

/*INICIO ANALYTICS*/
.analytics{
  display: grid;
  grid-template-columns: 240px 240px 240px 240px;
  gap: 30px;
  margin: 20px 0px 0px 20px;
}

.card-background{
  display: flex;
  height: 100px;
  background-color: #EBF7F7;
  border-radius: 10px;
  margin-bottom: 40px;
}

.card-content{
  display: grid;
  grid-template-areas:
    "left-top right" 
    "left-bottom right";
  width: 260px;
  border-radius: 10px;
  margin: 0px 0px;
  background-color: none;
}

.left-top{
  grid-area: left-top;
  width: fit-content;
  height: fit-content;
  background-color: none;
}

.numer-total{
  display: block;
  width: 100%;
  background-color: none;
  text-align: left;
  font-size: 24px;
  font-weight: 600;
  margin: 30px 0px 0px 24px;
}

.left-bottom p{
  grid-area: left-bottom;
  width: fit-content;
  height: fit-content;
  font-size: 12px;
  margin: 0px 0px 18px 24px;
  background-color: none;
}

.right{
  grid-area:right;
}
.porcentage{
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 17px 0px 0px 4px;
  margin: 25px 0px 0px 30px;
  background-color: pink;
  font-size: 14px;
  border-radius: 50%;
}
/*FIM ANALYTICS*/

.content{
  display: block;
  width: 100%;
  height: max-content;
}

main{
  display: grid;
  grid-template-areas: ;
}

.addres-bombs{
  display: flex;
  background-color: #5CD8B4;
}

/*ANALYTICS*/

/*INICIO GRID 2*/
.grid-2{
  display: grid;
  grid-template-areas: 
    "addres equips"
    "iframe equips"
  ;
}
/*FIM GRID 2*/

/*Adress*/

.addres-bombs{
  grid-area:addres;
  width: fit-content;
  height: fit-content;
  margin-left: 20px;
}

#adress-option{
  display: flex;
  background-color: #5CD8B4;
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
}

#adress-option:hover{
  background-color: #162C39;
  color: white;
}

.arrow-option-image{
  width: 20px;
  margin-left: 10px;
}

/*Adress*/

/*MAIN*/

main{
  grid-area:iframe;
  display: flex;
  width: fit-content;
}

/*MAIN*/


/*IFRAME*/

.iframe{
  width: 720px;
  height: 400px;
  background-color: cadetblue;
  margin-left: 20px;
  margin-top: 20px;
}

/*IFRAME*/

/*INICIO EQUIPS*/
.equips{
  grid-area: equips;
  width: 90%;
  margin-right: 100px;
  background-color: red;
}

h2{
  text-align: left;
  font-size: px;
}

/*FIM EQUIPS*/

.user-icon{
  display: inline;
  margin: 0px 10px 0px 10px;
  background-color: white;
}

/*INICIO METRICAS*/
h2{
  display: block;
  width: fit-content;
  height: fit-content;
  margin: 40px 0px 0px 48px;
  background-color: none;
  font-size: 32px;
  color: #162C39;
}

.metric-background{
  display: flex;
  justify-content: left;
  width: fit-content;
  height: fit-content;
  margin: 40px 0px 0px 48px;
  background-color: none;
  margin-bottom: 100px;
}

.metric-card{
  background-color: #EBF7F7;
  border-radius: 10px;
  width: 122px;
  height: 172px;
  margin: 8px;
}

.top{
  display: block;
  width: auto;
  height: 20px;
  justify-content: left;
  background-color: ;
}

.signal{
  display: block;
  align-content: center;
  width: 16px;
  margin-left: 6px;
  margin-top: 2px;
}

.top-midle{
  display: block;
  width: auto;
  height: 60px;
  align-content: center;
  text-align: center;
  background-color: none;
}

.top-midle > p{
  font-size: 14px;
  font-weight: 600;
}

.bottom-midle{
  display: block;
  width: auto;
  height: 80px;
  align-content: center;
  text-align: center;
  background-color: none;
}

#valor{
  font-size: 14px;
  font-weight: 600;
}

.bottom{
  display: block;
  width: auto;
  background-color: aqua;
  border-radius: 0px 0px 10px 10px;
}

.bottom > p{
  visibility: hidden;
}
/*FIM METRICAS*/


