body {
    font-family: Arial, sans-serif;
    margin: 0px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffff;
}

header {
    width: 100%; 
    height: 64px;
    padding: 15px 30px;
    display: flex;
    justify-content: right;
    gap: 5px;
    align-items: center;
    background-color: #EBF7F7;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    box-sizing: border-box; 
    
}
.container {
    display: flex;
    justify-content: center;
    width: 1200px; 
    height: 570px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    background-color: #ffff;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.left-panel {
    flex: 1;
    margin: 10px;
    border-radius: 10px;
    width: 536px;
    background-color: #EBF7F7; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-panel img {
    width: 473.38px;
    height: 340px;
}

.right-panel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-card {
    width: 100%;
    max-width: 552px;
    text-align: left;
}

.login-card h2 {
    font-size: 28px;
    color: #333333;
    margin-bottom: 0px;

}

.login-card p {
    color: #333333;
    margin-top: 0px;
    margin-bottom: 15px;
}

.input-group {
    text-align: left;
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.login-btn {
    background-color: #162C39; /* Dark teal */
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    height: 52px;
    margin-top: 20px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.forgot-password {
    color: #162C39;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 20px;
    display: block;
    text-align: center;
}

